body {
    text-align: center;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
}
#board-container {
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
    width: 60vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#board-container.disabled {
    pointer-events: none;
}

.board-row {
    flex: 1;
    background-color: bisque;
    display: flex;
    gap: 10px;
}

.board-cell {
    background-color: yellowgreen;
    flex: 1;
    font-size: 65px;
}

#reset-button.hidden {
    display: none;
}

#player-div-container {
    display: flex;
}
#player-name-form {
    display: flex;
    flex-direction: column;
    align-self: center;

}

.player-div {
    display: flex;
    flex-direction: column;

}